<body>
<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

<section id="home">
  <div class="container">
    <div class="intro-content">
      <div id="typewriter-container">
      <h2 class="intro-content"><span #typewriter id="typewriter"></span></h2>
      </div>
      <p>I'm a passionate developer with expertise in Angular and web technologies. I love building modern and intuitive web applications.</p>
      <p>Take a look at my projects below and feel free to contact me for any inquiries or collaboration opportunities.</p>
      <a (click)="goToProjectsPage()" class="intro-button">View Projects</a>
    </div>
  </div>
</section>
</body>
