#projects {
  padding: 100px;

}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.column {
  width: 50%;
  padding: 10px;
}

.project-card {
  position: relative;
  height: 200px;
  background-color: #ddd;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: #fff;
  transition: opacity 0.3s;
  opacity: 0;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

#home {
  background-color: #222;
  padding: 200px 0;
}

#home .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

#home .intro-content {
  text-align: left;
}

#home .intro-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

#home .intro-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

#home .intro-content p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  max-width: 600px;
}

#home .intro-button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  color: #222;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#home .intro-button:hover {
  background-color: #fff;
  opacity: 0.8;
}

#typewriter {
  color: #fff;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  white-space: nowrap;
  margin: 0;
  width: 0;
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

