<div>
  <div class="about">
    <div id="container">
      <div class="biobox">
        <div class="box">
          <p class="title">Location:</p>
          <p class="info">Born in Diest, Belgium<br>Residing in Lummen, Belgium<br>Studied in Hasselt, Belgium</p>
        </div>
        <div class="box">
          <p class="title">About me</p>
          <p class="info">I'm a programmer who successfully completed my studies at PXL Digital. My educational journey has been quite diverse as I previously pursued nursing, but my passion for technology led me to make a change and delve into programming.
            <br> Ever since I was 3 years old, I found myself drawn to computers, and over the years, I've developed a strong affinity for them. My curiosity and desire to learn new things led me to teach myself some basic programming languages, including HTML5, CSS, JavaScript, C#, and LUA Script.
            <br> Now, armed with my degree, I'm excited to embark on a rewarding career in the world of programming, where I can continue to expand my knowledge and contribute to innovative projects. </p>
        </div>
        <div class="box">
          <p class="title">Discord Server for Programming Department:</p>
          <ul class="info list" id="discord">
            <li class="">Created and managed a vibrant Discord server for the Programming Department at PXL Digital</li>
            <li class="">Number of members: Approximately 200</li>
            <li>Provided a welcoming community for students to engage, collaborate, and learn</li>
            <li>Offered assistance and support to peers, answering coding questions and assisting with studies</li>
            <li>Developed proficiency in communication and community management</li>
            <li>Maintained organized channels to facilitate effective discussions and sharing of knowledge</li>
            <li>Fostered a positive and supportive learning environment</li>
          </ul>
        </div>
        <div class="box">
          <p class="title">Hobbies & Interests:</p>
          <ul class="info list" id="hobbies">
            <li>Currently learning Angular</li>
            <li>3D modeling in Blender (Basic Level)
            <li>3D printing with FDM printer</li>
            <li>Playing Dungeons & Dragons (Cooperative teamplay)</li>
            <li>Playing Magic: The Gathering (Competitive card game)</li>
            <li>Airsoft (Team Sports)</li>
            <li>Working on mopeds and scooters with friends</li>
          </ul>
        </div>
        <div class="box">
          <p class="title">Languages:</p>
          <ul class="info list">
            <li class="listcenter">Dutch:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
              </div>
            </li>
            <li class="listcenter">English:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Spanish:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">German:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
          </ul>
        </div>
        <div class="box">
          <p class="title">Coding Languages:</p>
          <ul class="info list">
            <li class="listcenter">HTML5:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">CSS3:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">C#:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Dart:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Javascript:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">LUA Script:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
          </ul>

          <p class="title">Frameworks | Technologies:</p>
          <ul class="info list">
            <li class="listcenter">Supabase:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">ASP.NET:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Flutter:
            <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Linq:
            <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
              <img src="../assets/circleo.png" alt="empty circle">
            </div>
            </li>
            <li class="listcenter">WPF:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Oracle:
              <div class="points">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circle.png" alt="filled circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
            <li class="listcenter">Angular:
            <div class="points">
              <img src="../assets/circle.png" alt="filled circle">
              <img src="../assets/circle.png" alt="filled circle">
              <img src="../assets/circleo.png" alt="empty circle">
              <img src="../assets/circleo.png" alt="empty circle">
              <img src="../assets/circleo.png" alt="empty circle">
            </div>
            </li>
            <li class="listcenter">Maui:
            <div class="points">
              <img src="../assets/circle.png" alt="filled circle">
              <img src="../assets/circle.png" alt="filled circle">
              <img src="../assets/circleo.png" alt="empty circle">
              <img src="../assets/circleo.png" alt="empty circle">
              <img src="../assets/circleo.png" alt="empty circle">
            </div>
            </li>
            <li class="listcenter">Vue:
              <div class="points">
                <img src="../assets/circle.png" alt="circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
                <img src="../assets/circleo.png" alt="empty circle">
              </div>
            </li>
          </ul>
        </div>

        <div class="box">
          <p class="title">Education:</p>
          <ul class="info list" id="studies">
            <li>Associate degree programming - 2021/2023</li>
            <li>HBO5 nursing education - 2017/2020</li>
            <li>Hotel and catering school - 2013/2017</li>
          </ul>
        </div>
        <div class="box">
          <p class="title">Work experience:</p>
          <ul class="info list" id="werk">
            <li class="subtitle"><h3>Fulltime jobs:</h3></li>
            <li class="infoIndent">Nurse in WZC Ocura - Herk-De-Stad - 2020/2021</li>
            <li class="subtitle"><h3>Student jobs:</h3></li>
            <li class="infoIndent">Scheuten Glas - Diest - 2019</li>
            <li class="infoIndent">Rust-Oleum Mathys - Zelem - 2018</li>
            <li class="infoIndent">Kaasbrik - Halen - 2017</li>
            <li class="infoIndent">Waiter in Hof Te Rhode - schaffen - 2015/2016</li>
          </ul>
        </div>
        <div class="box">
          <p class="title">Programming internship:</p>
          <ul class="info list" id="programming">
            <li class="subtitle"><h3>Internship at IDA Mediafoundry:</h3></li>
            <li class="infoIndent">October 2022 - June 2023</li>
            <li class="infoIndent">IDA Mediafoundry - <a href="https://www.weareida.digital/be-en.html" target="_blank"><button class="website-button">Visit Website</button></a></li>
            <li class="infoIndent">During this internship, I had a full-on job experience, working three full workdays a week.
              <br> It provided me with valuable practical knowledge and skills in the field of programming and software development.</li>
          </ul>
        </div>
          <div class="box">
          <p class="title">Other internships:</p>
          <ul class="info list" id="stages">
            <li class="subtitle"><h3>HBO5 Nursing:</h3></li>
            <li class="infoIndent">Retirement home WZC Ocura - Herk-De-Stad - 2020</li>
            <li class="infoIndent">Jessa Ziekenhuis Campus Salvator - Gerontopsychiatry - 2019</li>
            <li class="infoIndent">SF Ziekenhuis Heusden - Internal 2 (heart/lung) - 2019</li>
            <li class="infoIndent">Jessa Ziekenhuis Campus St.-Ursula - Medic rehabilitation - 2018</li>
            <li class="infoIndent">SF Ziekenhuis Heusden - Geriatrics - 2017/2018</li>
            <li class="infoIndent">Retirement home WZC Ocura - Beringen - 2017</li>
            <li class="subtitle"><h3>High school:</h3></li>
            <li class="infoIndent">Sel gris - Knokke - 2017</li>
            <li class="infoIndent">Innesto - Houthalen-Helchteren - 2016</li>
            <li class="infoIndent">Hof Te Rhode - schaffen - 2015</li>
          </ul>
        </div>
      </div>
  </div>
</div>
</div>
