#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.biobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6%;
  padding: 5%;
}

/* Box contains title and info */
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}

/* Title of each category */
.title {
  color: white;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 5px;
  display: flex;
  flex-direction: row;
  float: left;
  min-width: 250px;
  width: 25%;
}

/* Info of each category */
.info {
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 2.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  float: right;
  border-left: 3px solid #42b983;
  width: 65%;
  text-align: initial;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

}

li {
  min-height: 10px;
  max-height: 50px;
}


i {
  display: flex;
  font-size: 14px;
  vertical-align: center;
  color: #3d3b33;
  padding-right: 0.3rem;
  float: left;
}

.points {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  float: right;
  margin-right: 60%;
  text-align: center;

}
.listcenter{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  width: 40rem;
}
.points img{
  margin-left: 0.4rem;
  width: 18px;
}

.infoIndent {
  margin-left: 2rem;
}

.subtitle {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px){
  .box{
    width: 130%;
  }
  .biobox{
    width: 95%;
    padding: 0 0 0 5%;
  }
  .title{
    width: initial;
  }
  .subtitle{
    margin: 0;
  }
  .info{
    line-height: 1.8rem;
  }
  .infoIndent{
    margin: 0 0 1rem 0;
  }
  li{
    min-height: initial;
    max-height: initial;
    margin: 0 0 1.2rem 0;
  }
}

.website-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.website-button:hover {
  background-color: #45a049;
}

@media (max-width: 767px) {
  /* ... Your existing media query styles ... */

  .box{
    width: 120%;
  }

  .listcenter {
    /* Remove or adjust the width property */
    width: 100%; /* Uncomment this line to make it take the full width */
    padding: 0 20px; /* Add some padding to the sides */
    margin: 0 auto;
  }

  .points {
    margin-right: 10%; /* Adjust the margin-right value to fit the circles within the container */
  }
}
