<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a routerLink="/" class="navbar-logo">
        <img src="assets/Logo.png" alt="Logo" class="logo-image">
      </a>
    </div>
    <div class="navbar-right">
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a routerLink="/" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
          <span class="navbar-separator">|</span>
        </li>
        <li class="navbar-item">
          <a routerLink="/about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
          <span class="navbar-separator">|</span>
        </li>
        <li class="navbar-item">
          <a routerLink="/projects" class="navbar-link">Projects</a>
        </li>
        <li class="navbar-item">
          <span class="navbar-separator">|</span>
        </li>
        <li class="navbar-item">
          <a routerLink="/contact" class="navbar-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
