/* Reset some default styles for consistency */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%; /* Added padding to move the form up */
}

.container {
  display: flex;
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-form-container {
  flex: 1;
  border-left: 2px solid #4CAF50;
  padding-left: 20px;
  margin-left: 20px;
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  background-color: transparent; /* Set the background to transparent */
  font-size: 16px;
  color: #fff; /* Set the text color to white */
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 10px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  background-color: transparent; /* Set the background to transparent */
  font-size: 16px;
  color: #fff; /* Set the text color to white */
  resize: none;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Make first name and last name fields appear inline */
.form-group .inline {
  display: inline-block;
  width: 48%; /* Adjust this value as needed */
}

.submit-button {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container {
  text-align: center;
}

.inline{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.name{
  margin-right: 4rem;
}

.social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  color: #fff;
  background-color: #4CAF50;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-buttons a:hover {
  background-color: #45a049;
}

/* Styles for the Font Awesome icons */
.fa {
  font-size: inherit;
}
.fa-linkedin:before {
  content: "\f08c";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-github:before {
  content: "\f09b";
}

.work-in-progress-banner {
  position: relative;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 10px;
  font-size: 20px; /* Increase the font size for a bigger banner */
  text-align: center;
  padding: 15px; /* Increase the padding for more space around the text */
  transform: translateY(-50%) rotate(-45deg);
  top: 45%;
  right: -30px; /* Increase the right value to move the banner further to the right */
  width: 400px; /* Increase the width for a bigger banner */
  z-index: 1;
}

.submit-button:hover {
  background-color: #45a049;
}
