/* Reset some default styles for consistency */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%; /* Added padding to move the form up */
}

.container {
  display: flex;
  background-color: transparent;
  border-radius: 8px;
  width: 140%;
  padding: 20px;
  margin: 0 auto;
  transform: translateX(-20%);
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-form-container {
  flex: 1;
  border-left: 2px solid #4CAF50;
  padding-left: 20px;
  margin-left: 20px;
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  background-color: transparent; /* Set the background to transparent */
  font-size: 16px;
  color: #fff; /* Set the text color to white */
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 10px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  background-color: transparent; /* Set the background to transparent */
  font-size: 16px;
  color: #fff; /* Set the text color to white */
  resize: none;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Make first name and last name fields appear inline */
.form-group .inline {
  display: inline-block;
  width: 48%; /* Adjust this value as needed */
}

.submit-button {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container {
  text-align: center;
}

.inline{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.name{
  margin-right: auto;
}

.submit-button:hover {
  background-color: #45a049;
}
